@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "KidsMagazine";
  src: local("KidsMagazine"),
    url("./assets/font/KidsMagazine/KidsMagazine.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Impact Regular";
  src: local("Impact Regular"),
    url("./assets/font/impact/IMPACT.TTF") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Franklin Gothic Heavy";
  src: local("Franklin Gothic Heavy"),
    url("./assets/font/FranklinGothic/FRAHV.TTF") format("truetype");
  font-weight: bold;
}